.container{
  border: none;
  width: 750px;
  margin-top: 20px;
  border-radius: 20px;
}

.header{
  height: 40px;
  color: white;
  background-color: #1C4B7A;
  padding-top: 15px;
  font-size: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius:20px;
  font-family: 'Rockwell'
}
.instrucciones{
  background-color: #265F9F;
  color: #E6E6E6;
  padding: 10px;
  font-family: 'Papyrus';
}
.to-do{
  cursor: pointer;
  padding: 10px;
  text-align: left;
  background-color: #CFE3F4;
  width: 729px;
  border: none;
  font-family: 'Century Gothic';
}

.to-do:hover{
  background-color: #E6E6E6;
}
.done{
  padding: 10px;
  text-align: left;
  border: none;
  text-decoration: line-through;
  background-color: #23A8E1;
  width: 729px;
  font-family: 'Century Gothic';
}
.agregar{
  background-color: #265F9F;
  padding: 2px;
  padding-top: 3px;
}
#Add{
  padding: 15px;
  border: none;
  background-color: #2A5AA3;
  color: white;
  font-size: 15px;
}
#Add:hover{
  background-color:#A1C1F1; 
}
#texto{
  padding: 15px;
  width: 600px;
  border: none;
  font-size: 15px;
}

